body{
    background-image : url("../img/arene.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.container{
    height: fit-content;
    position: absolute;
    margin-left: 50%;
    top: 30%;
    left: -10%;
}

.bouton{
    position: absolute;
    margin-left: 20%;
    top: 70%;
    left: 20%;

}
.bouton2{
    position: absolute;
    left: 38%;
    top: 50%;

}
.pierre{
    position: absolute;
    left: 20%;

}
.papier{
    position: absolute;
    left: 40%;


}
.ciseau{
    position: absolute;
    left: 70%;


}
.bouton3{
    position: relative;
}
