body{
    background-image : url("../img/woodBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.regles{
    color: white;
    position: absolute;
    left: 33%;
    top: 10%;
    font-size: 2em;
}
.regles2 {
    color: white;
    position: absolute;
    left: 20%;
    top: 16%;
    font-size: 2em;
}
.choix{
    color: white;
    position: absolute;
    left: 21%;
    top: 21%;
    font-size: 1.6em;
}
.regles3{
    color: white;
    position: absolute;
    left: 20%;
    top: 34%;
    font-size: 2em;
}
.bouton{
    position: absolute;
    top: 70%;
    left: 30%;


}
.bouton2{
    position: absolute;
    top: 70%;
    left: 60%;

}
