body{
    color: white;
    background-image: url("../img/woodBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.Titre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.tout {
    display: flex;
    margin: auto;
    margin-top: 10em;
}
.BoutonJouer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.BoutonRegles {
    display: flex;
    justify-content: center;
    align-items: center;
}
.RockPaperScissorsImages{
    display: flex;
    margin: auto
}
/* Code pour rotationner les "Pierre Papiers Ciseaux de 3600 en continu :" */
#test {
    width: 200px;
    height: 200px;
    transform-origin: 50% 50%;
    margin: 3em;

}
#test1 {
    width: 200px;
    height: 200px;
    transform-origin: 50% 50%;
    margin: 3em;
}
#test2 {
    width: 200px;
    height: 200px;
    transform-origin: 50% 50%;
    margin: 3em;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 3s linear infinite;
}
